<% @products.each do |product| %>
<h1><%= product.title %></h1>
<%end%>
<table>
	<tr>
	<td>No</td>
	<td>name</td>
	<td>price</td>
	<td>category</td>
	</tr>
	
	<% @products.each_with_index do|p,i|%>
	<tr>
	<td><%= i%></td>
	<td><%= link_to(p.title, product_url(p)) %></td>
	<td><%= p.price%></td>
	<td><%= p.category.try(:title) %></td>
	<td><%= link_to('Edit', edit_product_path(p)) %></td>
	</tr>
	<% end%>
</table>
<%= link_to('Add new product', new_product_path) %>
